@import url('https://fonts.googleapis.com/css?family=Lexend:100,200,300,400,500,600,700,800,900&display=swap');

body {
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    font-style: normal;
    text-transform: none;
}

body {
    /* CSS Variables that may have been missed get put on body */
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--bs-body-font-family);
    font-size: var(--bs-body-font-size);
    font-weight: var(--bs-body-font-weight);
    line-height: var(--bs-body-line-height);
    color: var(--bs-body-color);
    text-align: var(--bs-body-text-align);
    background-color: var(--bs-body-bg);
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}

body {
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    font-style: normal;
    line-height: 1.5em;
    text-transform: none;
    color: #8d949e;
    overflow-x: hidden;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 18px;
}

:root {
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: smooth;
    }
}

.header {
    display: block;
    width: 100%;
    position: absolute;
    z-index: 99;
    padding: 15px;
    box-shadow: 0 0 17px rgba(0, 0, 0, 0.12);
    top: 0;
}

*,
:after,
:before {
    box-sizing: border-box;
}

.container {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1320px;
    }
}

@media (min-width: 1500px) {
    .container {
        max-width: 1400px;
    }
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
}

.v-center {
    align-items: center;
}

.row>* {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-top: var(--bs-gutter-y);
}

.header .item-left {
    flex: 0 0 15%;
}

.header .item-center {
    flex: 0 0 70%;
    text-align: center;
}

.header .item-right {
    flex: 0 0 15%;
}

.header .item-right {
    flex: 0 0 35%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

ul {
    padding-left: 2rem;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.mobile-menu-trigger {
    display: none;
}

.align-items-center {
    align-items: center !important;
}

.mt-4 {
    margin-top: 1.5rem !important;
}

.footer {
    background: #000;
    padding: 1rem 0;
    border-top: 1px solid #fff;
    padding-bottom: 60px;
}

.FooterStickToBottom {
    /* position: fixed !important;  
    flex: 1;
    justify-content: flex-end;
    bottom: 0;
    right: 0;
    left: 0; */
    margin-top: 10px;
}

.col-12 {
    flex: 0 0 auto;
    width: 100%;
}

@media (min-width: 768px) {
    .col-md-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 992px) {
    .col-lg-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .col-xl-6 {
        flex: 0 0 auto;
        width: 50%;
    }
}

@media (min-width: 992px) {
    .col-lg-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}

@media (min-width: 1200px) {
    .col-xl-3 {
        flex: 0 0 auto;
        width: 25%;
    }
}

.text-center {
    text-align: center !important;
}

a {
    color: var(--bs-link-color);
    text-decoration: underline;
}

a {
    color: #000000;
    text-decoration: none;
}

a {
    text-decoration: none;
}

.header .logo a {
    font-size: 30px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}

a {
    font-size: 30px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
}

a:hover {
    color: var(--bs-link-hover-color);
}

a:hover {
    text-decoration: none;
}

.mobile-menu-head {
    display: none;
}

.header-item.item-left ul li {
    display: inline-block;
    padding-left: 20px;
}

img {
    vertical-align: middle;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.arrow-rotated svg {
    rotate: 90deg;
    margin-left: 15px;
}

.ml-12 {
    margin-left: -12px;
}

.logo img {
    width: 160px;
}

.header .menu>ul>li {
    display: inline-block;
    line-height: 50px;
    margin-left: 25px;
}

.fa {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}

.fa {
    font-family: "Font Awesome 5 Free";
}

.fa {
    font-weight: 900;
}

.fa-angle-left:before {
    content: "\f104";
}

.footer-link ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

img {
    width: 40px;
}

img.cards {
    width: 150px;
}

img.cardsLg {
    width: 200px;
}

.footer-link ul li {
    padding: 10px 0;
}

.footer-link ul li a {
    color: #fff;
}

ul>li {
    display: inline-block;
    line-height: 50px;
    margin-left: 25px;
}

.header .item-center {
    flex: 0 0 70%;
    text-align: center;
}

.header .menu>ul>li>a {
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    position: relative;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.header .menu>ul>li:hover>a {
    color: #ea4636;
}

ul>li>a {
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    position: relative;
    text-transform: uppercase;
    transition: color 0.3s ease;
}

.header .menu>ul>li .sub-menu.mega-menu>.list-item>ul>li>a:hover,
.header .menu>ul>li .sub-menu>ul>li>a:hover,
.header .item-right a:hover,
.header .menu>ul>li:hover>a {
    color: #ea4636;
}

.header-item.item-left ul li a img {
    width: 26px;
    height: 26px;
    object-fit: contain;
}

.fa-angle-down:before {
    content: "\f107";
}






























:root {
    --bs-white-rgb: 255, 255, 255;
    --bs-font-sans-serif: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #212529;
    --bs-body-bg: #fff;
    --bs-link-color: #0d6efd;
    --bs-link-hover-color: #0a58ca;
}

@media (min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

@media (min-width: 1200px) {
    .col-xl-4 {
        flex: 0 0 auto;
        width: 33.33333333%;
    }
}

.justify-content-between {
    justify-content: space-between !important;
}

.footer-bottom {
    background: #555;
    padding: 10px 0;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

.m-0 {
    margin: 0 !important;
}

.text-white {
    --bs-text-opacity: 1;
    color: rgba(var(--bs-white-rgb), var(--bs-text-opacity)) !important;
}

.bottom-data p {
    font-size: 16px;
    color: #1e1e1e;
}

.text-end {
    text-align: right !important;
}

.socialList {
    display: flex;
}

.footer-link.bottom-icon ul li {
    display: inline-block;
    padding-left: 10px;
}

.MainAction {
    display: inline-flex;
    margin: -15px;
}